name: Deploy to staging

on:
  workflow_dispatch:

permissions:
  packages: write

jobs:
  promote-to-staging:
    runs-on: ubuntu-latest
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - name: Promote staging-source to staging
        run: |
          docker buildx imagetools create \
            --tag ghcr.io/archetype-pal/frontend:staging \
            ghcr.io/archetype-pal/frontend:staging-source
